.Home{
  text-align: left;
  padding:5px;
  background-color:#B0C4DE;
  font-style: italic;
  font-family: cursive;
}
header{
  text-align: left;
  background: #4682B4;
  font-style: italic;
  padding-left: 30px;
  font-weight: lighter;
  font-family: cursive;
  color: #B0C4DE;
}


li{
  font-style: italic;
  font-family: cursive;
  background-color: #B0C4DE;
  margin:15px;
}
.tick{
  text-align: right;
}
footer{
  text-align: right;
  font-size: 10px;
  padding: 5px;
  color: #B0C4DE;
  background: #4682B4;
}
