
@import "blogFooter.css";
@import "blogHeader.css";

header{
  text-align: left;
  background: #4682B4;
  font-style: italic;
  padding-left: 30px;
  font-weight: lighter;
  font-family: cursive;
  color: #B0C4DE;
}

li{
  font-style: italic;
  font-family: cursive;
  background-color: #B0C4DE;
  margin:15px;
}
.tick{
  text-align: right;
}

